$def with (notice, buttons, servicePrefix)

<div class="row">
	<div class="col-md-12">
		$:notice
	</div>
</div>
<div class="row"> 
	$ buttonCol = 12/len(buttons)
	$ colClass = 'col-md-%s' % buttonCol
	$for (label,service) in buttons: 
		$ serviceName = '\'%s/%s\'' % (servicePrefix, service)	
		<div class="$colClass"> 
			<!-- Sorry this is so ugly, but this seems to be the only way to get the script executed -->
			<button type="button" onclick="var service_$service = new ROSLIB.Service({ros : ros, name : $:serviceName, serviceType : 'ap_msgs/PauseResumePatroller'}); var request_$service = new ROSLIB.ServiceRequest({});  service_$service .callService(request_$service, function(result) {console.log('Called service'); }); console.log('Called')" class="btn btn-default btn-block">$:label</button>
		</div> 
</div>


